.produtos-carrinho {
   display: none;
}
  div.ativo {
   padding: 10px;
   border-radius: 10px;
   max-width: 300px;
   width: 100%;
   margin: 15px auto;
   box-shadow: 4px 7px 6px 0px rgba(150, 150, 150, 0.22);
   animation: animar .50s forwards;
 }

 @keyframes animar {
  from {
    opacity: 0;
    transform: translate3d(0,40px,0);
  }
  to {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
 }

